
ConsoleLogTest/bin/Debug/net5.0/appsettings.json
ConsoleLogTest/bin/Debug/net5.0/ConsoleLogTest.deps.json
ConsoleLogTest/bin/Debug/net5.0/ConsoleLogTest.dll
ConsoleLogTest/bin/Debug/net5.0/ConsoleLogTest.exe
ConsoleLogTest/bin/Debug/net5.0/ConsoleLogTest.pdb
ConsoleLogTest/bin/Debug/net5.0/ConsoleLogTest.runtimeconfig.dev.json
ConsoleLogTest/bin/Debug/net5.0/ConsoleLogTest.runtimeconfig.json
ConsoleLogTest/bin/Debug/net5.0/Microsoft.Extensions.Configuration.Abstractions.dll
ConsoleLogTest/bin/Debug/net5.0/Microsoft.Extensions.Configuration.Binder.dll
ConsoleLogTest/bin/Debug/net5.0/Microsoft.Extensions.Configuration.dll
ConsoleLogTest/bin/Debug/net5.0/Microsoft.Extensions.Configuration.FileExtensions.dll
ConsoleLogTest/bin/Debug/net5.0/Microsoft.Extensions.Configuration.Json.dll
ConsoleLogTest/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
ConsoleLogTest/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
ConsoleLogTest/bin/Debug/net5.0/Microsoft.Extensions.FileProviders.Abstractions.dll
ConsoleLogTest/bin/Debug/net5.0/Microsoft.Extensions.FileProviders.Physical.dll
ConsoleLogTest/bin/Debug/net5.0/Microsoft.Extensions.FileSystemGlobbing.dll
ConsoleLogTest/bin/Debug/net5.0/Microsoft.Extensions.Logging.Abstractions.dll
ConsoleLogTest/bin/Debug/net5.0/Microsoft.Extensions.Logging.Configuration.dll
ConsoleLogTest/bin/Debug/net5.0/Microsoft.Extensions.Logging.Console.dll
ConsoleLogTest/bin/Debug/net5.0/Microsoft.Extensions.Logging.Debug.dll
ConsoleLogTest/bin/Debug/net5.0/Microsoft.Extensions.Logging.dll
ConsoleLogTest/bin/Debug/net5.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
ConsoleLogTest/bin/Debug/net5.0/Microsoft.Extensions.Options.dll
ConsoleLogTest/bin/Debug/net5.0/Microsoft.Extensions.Primitives.dll
ConsoleLogTest/bin/Debug/net5.0/Nerdle.AutoConfig.dll
ConsoleLogTest/bin/Debug/net5.0/PdmBase.dll
ConsoleLogTest/bin/Debug/net5.0/PdmBase.pdb
ConsoleLogTest/obj/ConsoleLogTest.csproj.nuget.dgspec.json
ConsoleLogTest/obj/ConsoleLogTest.csproj.nuget.g.props
ConsoleLogTest/obj/ConsoleLogTest.csproj.nuget.g.targets
ConsoleLogTest/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ConsoleLogTest/obj/Debug/net5.0/ConsoleLogTest.AssemblyInfo.cs
ConsoleLogTest/obj/Debug/net5.0/ConsoleLogTest.AssemblyInfoInputs.cache
ConsoleLogTest/obj/Debug/net5.0/ConsoleLogTest.assets.cache
ConsoleLogTest/obj/Debug/net5.0/ConsoleLogTest.csproj.CopyComplete
ConsoleLogTest/obj/Debug/net5.0/ConsoleLogTest.csproj.CoreCompileInputs.cache
ConsoleLogTest/obj/Debug/net5.0/ConsoleLogTest.csproj.FileListAbsolute.txt
ConsoleLogTest/obj/Debug/net5.0/ConsoleLogTest.csprojAssemblyReference.cache
ConsoleLogTest/obj/Debug/net5.0/ConsoleLogTest.dll
ConsoleLogTest/obj/Debug/net5.0/ConsoleLogTest.exe
ConsoleLogTest/obj/Debug/net5.0/ConsoleLogTest.genruntimeconfig.cache
ConsoleLogTest/obj/Debug/net5.0/ConsoleLogTest.pdb
ConsoleLogTest/obj/project.assets.json
ConsoleLogTest/obj/project.nuget.cache
